@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
  color: white;
}

.container {
  max-height: 100%;
  width: 100%;
  display: flex;
  padding: 3vh 8vw 5vh 5vw;
  justify-content: space-between;
}

.text {
  font-family: "Poppins", sans-serif;
  font-size: 10vh;
}

p.thin {
  font-weight: 200;
}

p.thin-italic {
  font-weight: 200;
  font-style: italic;
}

p.regular-italic {
  font-style: italic;
}

p.bold {
  font-weight: 700;
}

p.bold-italic {
  font-weight: 700;
  font-style: italic;
}

.info {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 40vw;
  height: 100% !important;
  margin: 3vh 0 0 5vw;
  text-align: center;
  height: auto;
  border-radius: 10px;
  padding: 20px 20px 0px;
}

.color-info {
  position: relative;
}

.back,
.fore {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.color-options {
  display: flex;
  justify-content: space-around;
  padding: 0 10px;
}

.back button,
.fore button {
  position: absolute;
  right: 0;
  font-family: "Poppins", sans-serif;
  margin-left: 10px;
  outline: none;
  border: 0;
  padding: 1px;
  height: 20px;
  width: 20px;
  background-color: white;
  color: black;
  font-weight: bold;
  text-align: center;
}

.back button:hover,
.fore button:hover {
  outline: none;
  cursor: pointer;
}

.back button:active,
.fore button:active {
  outline: none;
}

.button {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  border-style: none;
  border-width: 0;
  border-radius: 15px;
  padding: 2px 20px;
}

.button:hover,
.button:focus {
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

.modes {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

input {
  text-decoration: none;
  border: none;
  color: black;
}

textarea {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin: 20px auto 0 auto;
  width: 100%;
  height: 62vh;
  padding: 10px;
  border: none;
  border-radius: 10px;
}

textarea:focus {
  outline: none;
}

footer {
  font-weight: 700;
}

@media (max-width: 1300px) {
  .container {
    padding-right: 3vw;
  }
  .info {
    margin-left: 0;
  }
}

@media (max-width: 1080px) {
  /* body {
    /* display: none; */

  .container {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto auto 20px auto;
    max-height: none;
  }

  .text {
    font-size: 10vw;
  }

  .info {
    width: 70%;
  }
}

@media (max-width: 560px) {
  .color-info p {
    font-size: 3vw;
  }

  .info button {
    font-size: 2.5vw;
  }

  textarea {
    font-size: 3vw;
    height: 80vw;
  }

  .back button,
  .fore button {
    height: 4vw;
    width: 4vw;
  }
  footer {
    font-size: 4vw;
  }
  label {
    font-size: 3vw;
  }
}
